* {
    margin: 0;
    padding: 0;
}
html {
    font-size: 1em;
    font-family: Hack, monospace;
    color: black;
    background-color: yellow;

    height: 100%;
    width: 100%;
}
body {
    height: 100%;
    width: 100%;

    display: flex;
    justify-content: center;
    align-items: center;
}
main {
    display: flex;
    flex-direction: column;
    align-items: center;
}

#center {
    display: flex;
    align-items: center;
}

p {
    white-space: pre;
}
p.nopre {
    white-space: normal;
}
a {
    text-decoration: underline;
}
a:link, a:visited {
    color: black;
}
a:hover, a:active {
    cursor: pointer;
}


#burger-icon {
    display: none;
}
.icon {
    /* position is determined with js depending of character size */
    position: absolute;
    cursor: pointer;
}
.icon p::-moz-selection {
    color: black;
    background: none;
}
.icon p::selection {
    color: black;
    background: none;
}

#burger-options {
    /* position is determined with js depending of character size */
    position: absolute;
    display: none;
    background-color: yellow;
}

::-moz-selection {
  color: yellow;
  background: black;
}
::selection {
  color: yellow;
  background: black;
}

/* episode 2 text decoration */
s {
    text-decoration: none;
    background-color: black;
    color: yellow;
}

/* episode 3 subtitles colors */
.sub {
    background-color: black;
}
.horschamps {
    color: yellow;
}
.face {
    color: white
}
.bruit {
    color: red;
}
.musique {
    color: magenta;
}
.comm {
    color: cyan;
}
.lang {
    color: Chartreuse;
}

/* FONTS */
/*///////*/

/* Hack v2.020 - https://sourcefoundry.org/hack/
 *  Licenses - Fonts: Hack Open Font License + Bitstream Vera license,
 *  CSS: MIT License */
@font-face {
  font-family: 'Hack';
  src: url('fonts/hack-regular-webfont.woff2?v=2.020') format('woff2'), url('fonts/hack-regular-webfont.woff?v=2.020') format('woff'), url('fonts/hack-regular-webfont.ttf?v=2.020') format('truetype');
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: 'Hack';
  src: url('fonts/hack-bold-webfont.woff2?v=2.020') format('woff2'), url('fonts/hack-bold-webfont.woff?v=2.020') format('woff'), url('fonts/hack-bold-webfont.ttf?v=2.020') format('truetype');
  font-weight: 700;
  font-style: normal;
}

@font-face {
  font-family: 'Hack';
  src: url('fonts/hack-italic-webfont.woff2?v=2.020') format('woff2'), url('fonts/hack-italic-webfont.woff?v=2.020') format('woff'), url('fonts/hack-italic-webfont.ttf?v=2.020') format('truetype');
  font-weight: 400;
  font-style: italic;
}

@font-face {
  font-family: 'Hack';
  src: url('fonts/hack-bolditalic-webfont.woff2?v=2.020') format('woff2'), url('fonts/hack-bolditalic-webfont.woff?v=2.020') format('woff'), url('fonts/hack-bolditalic-webfont.ttf?v=2.020') format('truetype');
  font-weight: 700;
  font-style: italic;
}
