html, body {
    font-family: Hack;
    max-width: 100%;
    height: 100%;
    background-color: black;

    margin: 0;
    padding: 0;
    overflow: hidden;
}

#main {
    height: 100%;

    color: white;
}

p {
    /*white-space: pre-wrap;*/
    width: 50%;
    margin: 3em auto;
}
